@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    animation: spin 1.2s infinite linear;
    border-top: 4px solid var(--paletteColor2);
    border-right: 4px solid var(--paletteColor2);
    border-bottom: 4px solid var(--paletteColor4);
    border-left: 4px solid var(--paletteColor4);
    border-radius: 50%;
    background: transparent;
}
