.error {
    display: flex;
    justify-content: center;
    transform: translate(0, 50%);
}

.errorData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px;
}

.errorCode {
    color: var(--text3);
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
}

.errorDesc {
    color: var(--text2);
    text-transform: uppercase;
}
