.catcher {
    margin-top: 10px;
    padding: 12px;
    border: 1px solid darken(#ddd, 15%);
    border-radius: 3px;
    background-color: var(--errorBG);
    color: red;
    text-align: center;
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        color: red;
        font-weight: bold;
        font-size: 24px;
    }
}

.catcherIcon {
    color: tomato;
    margin: 0 5px;
}
