.ordersTable :global(.ant-pagination) {
    float: none;
    justify-content: center;
    display: flex;
}

.ordersTable :global(.ant-table-thead > tr > th) {
    text-transform: uppercase;
    word-break: none;
}
.ordersTable :global(.ant-table-tbody > tr > th) {
    word-break: none;
}

/* .ordersTable td { */
/* overflow: hidden;
    text-overflow: ellipsis; */
/* white-space: nowrap; */
/* max-width: 0; */
/* width: 150px; */
/* display: block; */
/* } */
