.customFilterDropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.customFilterDropdown input {
    width: 130px;
    margin-right: 8px;
}

.highlight {
    color: #f50;
}

.editIcon {
    font-size: 20px;
    cursor: pointer;
}

.tabIcon {
    position: absolute;
    right: -50%;
    top: 17px;
    color: var(--primary);
}
