.BBBB .ant-tabs-tab {
    /* background: url(http://localhost:3000/fonts/funel_arrow-left.28dc9.svg) no-repeat center; */
    /* background-size: contain; */
    /* width: 80%; */
    /* color: #fff; */
    /* text-align: center;*/
}

/*.BBB .ant-tabs-tab:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 100%;
    top: 0;
    border: 10px solid transparent;
    border-left: 10px solid red;
} */
