.layout {
    min-height: 100vh;
}

.content {
    margin-left: 256px; /* aside */
    margin-top: 64px; /* header + moduleHeader */
    height: 100%;
}

.contentCollapsed {
    margin-left: 80px;
}

.contentModuleHeader {
    margin-top: 128px;
}

.header:global(.ant-layout-header) {
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.pure {
    margin: 0 0 24px 0;
}

.paper {
    margin: 24px 16px;
    overflow: initial;
    min-height: 360px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
        rgba(0, 0, 0, 0.23) 0px 3px 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.paperWithModuleHeader {
    margin: 152px 16px 24px;
}
