.footer {
    margin-left: 272px; /* aside */
    margin-right: 12px;
    padding: 12px 0;
    display: flex;
    align-items: center;
    color: var(--text2);
    flex-direction: column;
}

.footerCollapsed {
    margin-left: 96px;
}

.footer a {
    color: var(--text2);
}

.logo {
    width: 60px;
}

.copyright {
    margin-top: 12px;
}
