@import './keyframes';

/* Make clicks pass-through */
:global(#nprogress) {
    pointer-events: none;

    & :global(.bar) {
        background: #52b3ff;

        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;

        width: 100%;
        height: 2px;
    }

    /* Fancy blur effect */
    & :global(.peg) {
        display: block;
        position: absolute;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #52b3ff, 0 0 5px #52b3ff;
        opacity: 1;

        transform: rotate(3deg) translate(0px, -4px);
    }

    /* Remove these to get rid of the spinner */
    & :global(.spinner) {
        display: block;
        position: fixed;
        z-index: 1031;
        top: 25px;
        right: 15px;
    }

    & :global(.spinner-icon) {
        width: 18px;
        height: 18px;
        box-sizing: border-box;

        border: solid 2px transparent;
        border-top-color: #52b3ff;
        border-left-color: #52b3ff;
        border-radius: 50%;

        animation: nprogress-spinner 400ms linear infinite;
    }
}

:global(.nprogress-custom-parent) {
    overflow: hidden;
    position: relative;

    & :global(#nprogress) {
        & :global(.spinner),
        & :global(.bar) {
            position: absolute;
        }
    }
}
