.header {
    background: #f7f7f7;
    display: flex;
    flex: 1 1 100%;
    height: 64px;
    margin-top: 64px;
    position: fixed;
    z-index: 120;
    margin-left: 256px;
    width: calc(100% - 256px);
    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.headerCollapsed {
    margin-left: 80px;
    width: calc(100% - 80px);
}

.headerInfo {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
}

.description {
    color: #999;
}

.headerContorls {
    display: flex;
}
