.sider:global(.ant-layout-sider) {
    overflow: auto;
    height: 100vh;
    position: fixed;
    z-index: 110;
    left: 0;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.logo {
    color: white;
    padding: 22px;
    width: 256px;
    position: fixed;
    z-index: 1000;
    background-color: var(--layout);
}

.logoCollapsed {
    width: 80px;
}

.navMenu {
    margin-top: 60px;
}
